<div class="mt-4 border card flex-md-row mb-4 box-shadow h-md-250">
  <div class="row">
    <div class="col-sm-12 text-center">

    </div>
  </div>
  <div class="col-sm-7 mx-auto">
    <div class="my-5 row">
      <div class="col-sm-12 text-center">
        <h2 class="text-center">Product Details</h2>
      </div>
    </div>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="row justify-content-evenly pb-2">
        <ng-container *ngFor="let field of formFields">
          <div class="col-lg-12 col-sm-12">
            <div class="mb-3 row">
              <div class="form-group mb-3">
                <label [for]="field.key" class="form-label">{{ field.label }}:</label>
                <input [type]="field.type" class="form-control" [id]="field.key" [formControlName]="field.key"
                       [ngClass]="{ 'is-invalid': productForm.get(field.key)?.invalid && productForm.get(field.key)?.touched }">
                <div class="invalid-feedback" *ngIf="productForm.get(field.key)?.invalid && productForm.get(field.key)?.touched">
                  {{ field.label }} is required
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="my-5 row">
        <div class="col-sm-12 text-center">
          <button type="submit" class="submit btn btn-sm btn-block btn-primary"><b>Save</b></button>
        </div>
      </div>
    </form>
  </div>
</div>
